<html>
    <head>
        <title>Form page for my first express app</title>
    </head>
    <body>
        <form method="POST" action="/user/add">
            <input name="name" type="text" placeholder="Please enter your Name" value=""/>  
            <input name="email" type="email" placeholder="Please enter your email" value=""/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>